 /* Estilos personalizados para la página */

        /* Estilos para los botones */
        .btn {
            transition: all 0.3s ease;
        }

        .btn:hover {
            transform: translateY(-3px);
        }

        /* Estilos para los formularios */
        .card {
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .card-title {
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }

        .form-control {
            border-radius: 5px;
        }

        /* Estilos para los botones de color */
        .btn-primary,
        .btn-secondary,
        .btn-success,
        .btn-danger {
            color: white;
        }

        .btn-container {
            background-color: #e0e0e0;
            padding: 20px;
            border-radius: 10px;
        }

        .btn-primary {
            background-color: #4CAF50;
            border-color: #4CAF50;
        }

        .btn-secondary {
            background-color: #FFC107;
            border-color: #FFC107;
        }

        .btn-success {
            background-color: #2196F3;
            border-color: #2196F3;
        }

        .btn-danger {
            background-color: #F44336;
            border-color: #F44336;
        }

        /* Estilos para los botones flotantes */
        .btn-floating {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 1000;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            text-align: center;
            line-height: 60px;
            color: white;
            font-size: 24px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .btn-floating:hover {
            transform: scale(1.1);
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
        }