<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>formulario con servlets</display-name>
	<description>
		Pagina parque diversiones
	</description>
	<distributable></distributable>
	<servlet>
		<servlet-name>ServletAdmin</servlet-name>
		<servlet-class>com.dakin.controller.ServletAdmin</servlet-class>
	</servlet>
	

	<servlet-mapping>
		<servlet-name>ServletAdmin</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
</web-app>